mov ebp esp

main:
push ebp # save base pointer 0
mov ebp esp
push 0
mov (esp) 5
push 0 # start array size 5
push 0
push 0
push 0
push 0
push 0
mov (esp) 2342
push 0
mov (esp) 4
mem esi ebp
add esi 2
mov ecx esi # get subscript base address
mov edx -8(ebp)
sub ecx edx # add subscript offset
push ecx # subscript element
mov esi -9(ebp)
mov [esi] -7(ebp)
push 0
mov (esp) 4
mem esi ebp
add esi 2
mov ecx esi # get subscript base address
mov edx -10(ebp)
sub ecx edx # add subscript offset
push ecx # subscript element
mov esi -11(ebp)
prn [esi]