mov ebp esp
main:
push ebp # save base pointer 0
mov ebp esp
push 5
push 0 # start array size 5
push 0
push 0
push 0
push 0
push 2
push 3
mov esi -2
sub esi -8(ebp)
mov esi(ebp) -7(ebp)
prn -5(ebp)